body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
.main-content-container {
    min-height: 100vh;
    margin: 15px auto;
    text-align: center;
}
.question-list-container {
    margin: 15px auto;
    border-radius: 5px;
}
